.babra__header {
    display: flex;
    background-color: #fff;
}

.babra__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.babra__header-content h1 {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.4rem;
    color: #1e1049;
   
   
}

.babra__header-content p {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 27px;
    color: #3d7bd0;
    margin-top: 1.5rem;
}

.babra__header-content__input button {
    background-color: #3d7bd0;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.babra__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.babra__header-image img {
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    object-fit: cover; 
}

/* Fade effect overlay */
.babra__header-image::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%; 
    background: linear-gradient(to top, rgba(23, 38, 48, 0.7), rgba(0, 0, 0, 0));
    pointer-events: none;
}

@media screen and (max-width: 1050px) {
    .babra__header {
        flex-direction: column;
    }
    .babra__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .babra__header h1 {
        font-size: 48px;
        line-height: 60px;
    }
    .babra__header p {
        font-size: 16px;
        line-height: 24px;
    }
    .babra__header-content__input button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .babra__header h1 {
        font-size: 36px;
        line-height: 48px;
    }
    .babra__header p {
        font-size: 14px;
        line-height: 24px;
    }
    .babra__header-content__input button {
        font-size: 12px;
        line-height: 16px;
    }
}
